
.Weather{
   border:1px solid white;
   background-color:white;
   padding:16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:6px;
    color:rgb(135,135,135);
}

.Weather form{
    margin-bottom:20px;
}

.Weather h1{
    display:block;
    font-size:24px;
    margin:20px 0 0 0;
    font-weight:700;
    height:1.5;
    color:#430f58;
}

.Weather ul{
    margin:0;
    padding:0;
}

.Weather li{
    font-size:16px;
    font-weight:100;
    line-height:19px;
    list-style: none;
}

.Weather canvas{
 margin-right:10px;
 margin-top:5px;
 display:inline-block;
}

.WeatherInfo{
    padding-bottom:25px;
}

.Weather .temperature{
    font-weight:400;
    color:#430f58;
    font-size:64px;
    line-height:64px;
}

.Weather .unit{
    font-size:16px;
    color: rgb(33, 33, 33);
    font-weight:400;
    position:relative;
    top:-32px;
}

.Weather .btn{
    background-color:#6643b5;
    border: 1px solid #6643b5;
}